* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;




}

.background_image {
    position: absolute;
    z-index: -1;


}

img {
    width: 100%;
    height: auto;
}


header {
    width: 100%;
    background-color: white;
    height: auto;
    position: fixed;
    z-index: 1000;


}


.AnnouncementBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-size: 10px;
    padding-top: 10px;
    ;


}

.nav-container {
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 50px;
    margin-top: 10px;

}

.nav-container .logo .logo-A:hover {
    transition: 0.8s;
    color: #009845;
    font-size: 2.3rem;
}

.AnnouncementBar:hover {
    transition: 0.8s;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: black;
}

.nav-container a:hover {
    color: #009845;
    transition: 0.8s;
    font-size: 1.05rem;

}

.top-button .main-button:hover {
    transition: 0.8s;
    font-size: 2.3rem;
}

.images {
    position: relative;
    overflow: auto;

}

.first-images a {
    color: #009845;
}

.first-images-j a {
    color: #009845;
}


.first-images p {
    color: #ffff;
}

.first-images-j p {
    color: #ffff;

}

.images a:hover {
    transition: 0.8s;
    color: #009845;
    font-size: 1.2rem;
}


.images button:hover {
    transition: 0.8s;
    color: #ffff;
    font-size: 1.6rem;

}

.images button {
    transition: 0.8s;
    color: #ffff;
    font-size: 1.6rem;
    background-color: #009845;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;

}


.nav-container .logo {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 35px;
    left: calc(50% - 45px);
    font-family: "Suranna";


}


.nav-container .under-line {
    position: absolute;
}

.nav-container .account_details {
    margin: 5px;
    margin-bottom: 20px;
}

.account_details a {
    padding: 5px;
}

.account_details #cart {
    position: relative;
}

#cart .cart_amount {
    position: absolute;
    top: -40%;
    right: -40%;
    font-size: 0.8rem;
}

.nav_categories {
    margin: 5px;
}

.nav_categories a {
    padding: 5px 15px 5px 15px;
}

.under-line {
    /* border: 1px solid #F1EBDE; */
    height: 5px;
    width: 100%;
    top: 75%;
    left: 1.75%;

    background: linear-gradient(90deg, #009845 9.37%, #0a78db 26.04%, #7927c8 42.71%, #e62000 58.33%, #ff7b02 75%, #fdcb05 91.15%);

    /*background: linear-gradient(90deg, #ff5c77, #4dd091, #ffec59, #ffa23a);*/
}

/* popup */

.popup.show {
    visibility: visible;
    opacity: 1;

}

.popup {
    margin-bottom: 100%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(100%, 50%)scale(1);
    border: 4px solid #009845;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    width: 20%;
    z-index: 1500;
    transition: 200ms ease-in-out;
    background-color: #ffff;
    visibility: hidden;
    opacity: 0;

}




.popup input {
    background-color: white;
}

.popup button {
    background-color: white;
    font-size: 30px;

}


.popup-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(100%, 50%)scale(1);
    background-color: #009845;
    color: #ffff;
    border-radius: 12px;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
}

.hamburger {
    position: absolute;
}

@media screen and (max-width: 767px) {
    .nav-container {
        display: flex;
        flex-direction: row;
        height: 60px;
        justify-content: flex-end;
    }



    .contact_us {
        width: 100%;
        position: fixed;
        bottom: 0;


    }




    .hamburger {

        width: 40px;
        height: 25px;
        position: absolute;
        top: 15%;
        right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 9px;
        background: white;
        left: 0%;
        margin-left: 0px;
        border: 1px solid white;

        margin-right: 25px;
    }



    .line {
        width: 100%;
        height: 3px;
        background-color: black;
        border-radius: 12px;
        margin: auto;
        transition: all 0.8s;

    }

    .nav_categories {
        position: absolute;
        opacity: 0%;
        transition: 0.8s;
        top: 90%;
        right: 10%;

    }

    .nav_categories.changeIt {
        display: block;
        opacity: 100%;

        transition: 0.8s;
        background-color: white;

    }

    .line.line-one.changeIt {
        transform: rotateZ(-45deg) translate(-1px, 0px);
    }



    .line.line-two.changeIt {
        transform: scale(0);

    }


    .line.line-three.changeIt {


        transform: rotateZ(45deg)translate(-10px, -10px)
    }

    .nav-container .logo {
        top: -15%;
        font-size: 28px;
        left: 15%;

    }

    .account_details a {
        margin: 10px;
        margin-bottom: 20px;

    }

    .under-line {

        width: 90%;
        top: 70%;
    }

    .popup.show {
        visibility: hidden;
        opacity: 0;

    }


}

.first-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px;

}

@media screen and (max-width: 767px) {
    .first-window {
        padding-top: 120px;
    }
}

.first-h3 {
    display: flex;
    text-align: center;
    font-size: 30px;
    color: #ffff;



}


.images {
    display: flex;
    flex-direction: row;
    position: relative;

}

button {
    background-color: white;
    border-color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Suranna';
    font-size: 20px;
}

.main-button {
    font-size: 30px;
    margin: 15px;
    background-color: white;

}

.images img {
    height: 300px;
    width: auto;
    padding: 15px;
    position: relative;

}

.first-images {
    display: flex;
    flex-direction: column;
    position: relative;
}

.first-images-j {
    display: flex;
    flex-direction: column;
    position: relative;
}

.images span {
    padding-left: 20px;
}

.images p {
    padding-left: 45px;
}

@media screen and (max-width: 767px) {

    .images {
        width: 100%;
        /* overflow: normal; */



    }



    /* .first-images-j {
        display: none;
    } */


}

.top-button {
    position: relative;
}

.hetz-right {
    position: absolute;
    top: 90%;
    left: 140px;

}

.hetz-left {
    position: absolute;
    top: 90%;
    left: 255px;
}

.top-button .hetz-top-right {
    position: absolute;
    top: 25%;
    right: 100%;
}

.top-button .hetz-top-left {
    position: absolute;
    top: 25%;
    right: -15%;


}

.hetz-right-scroll {
    position: absolute;
    top: 35%;
    left: 110%;
    font-size: 30px;
}

.hetz-left-scroll {
    position: absolute;
    top: 35%;
    left: -10%;
    font-size: 30px;
}






.best-seller {
    width: 1100px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;

}

.best-seller-conteiner {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.best-seller h5 {
    color: #009845;

}



.best-seller-conteiner h3 {
    font-size: 30px;
    margin: 70px;
    position: relative;

}

.best-sellers-pictures {
    display: flex;
    flex-direction: row;
    width: 1100px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

    overflow: auto;


}

.dots :hover {
    width: 20px;
    height: 20px;
    transition: 0.8s;
}

@media screen and (max-width:1199px) {

    .best-sellers-pictures {
        width: 650px;

    }

    .best-seller {
        width: 100%;
    }

    .under-line-best-seller {
        width: 200px;
    }

    .hetz-right-scroll-best-seller {
        display: none;


    }

    .hetz-left-scroll-best-seller {
        display: none;

    }
}

@media screen and (max-width:767px) {
    .best-sellers-pictures {
        width: 100%;
    }

    .best-seller {
        width: 100%;
    }

    .best-seller-conteiner h3 {
        font-size: 25px;
    }

    h3 .under-line-best-seller {
        width: 200px;
    }

    .hetz-right-scroll-best-seller {
        display: none;


    }

    .hetz-left-scroll-best-seller {
        display: none;

    }
}


.container,
.products-Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.photo-box {
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;

    border-radius: 12px;
    line-height: 0.1;


}

.photo-box img {
    width: 300px;
}

.photo-box h5 {
    padding-left: 10px;
}

.photo-box p {
    padding-left: 10px;
}

.dots {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: center;

}

.red-dot {
    height: 15px;
    width: 15px;
    border: 1px solid #FCB1A6;
    border-radius: 50%;
    background-color: #FCB1A6;
    margin-right: 15px;
}

.blue-dot {
    height: 15px;
    width: 15px;
    border: 1px solid #B7918C;
    border-radius: 50%;
    background-color: #B7918C;
    margin-right: 15px;
}

.grey-dot {
    height: 15px;
    width: 15px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: grey;
    margin-right: 15px;
}

.green-dot {
    height: 15px;
    width: 15px;
    border: 1px solid #92C9B1;
    border-radius: 50%;
    background-color: #92C9B1;
    margin-right: 15px;
}

.purple-dot {
    height: 15px;
    width: 15px;
    border: 1px solid #571F4E;
    border-radius: 50%;
    background-color: #571F4E;
    margin-right: 15px;
}

.black-dot {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    margin-right: 15px;
    margin-bottom: 20px;
}

.under-line-best-seller {
    border: 1px solid #F1EBDE;
    position: absolute;
    height: 5px;
    width: 245px;
    top: 120%;
    left: 0%;
    background: linear-gradient(90deg, #009845 9.37%, #0a78db 26.04%, #7927c8 42.71%, #e62000 58.33%, #ff7b02 75%, #fdcb05 91.15%);

    /*background: linear-gradient(90deg, #ff5c77, #4dd091, #ffec59, #ffa23a);*/
}

.hetz-right-scroll-best-seller {
    position: absolute;
    top: 50%;
    left: 105%;
    font-size: 30px;
}

.hetz-left-scroll-best-seller {
    position: absolute;
    top: 50%;
    left: -5%;
    font-size: 30px;
}



button {
    border: none;
    line-height: 20px;
    font-size: 1.5rem;
    background-color: white;
    padding-top: 0;

    padding-bottom: 0;

}

button:hover {
    color: #009845;

    transition: 0.8s;
}

/*about section */



/* .quote :hover { */
/* border: solid 2px;
    box-shadow: 15px 15px 0 0 #009845; */
.quote:hover {
    border: 2px solid black;
    box-shadow: 15px 15px 0 0 #009845;

}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 1em;

    transition: 1s;
}

.about-part {
    margin-top: 5%;
}

.about-part p {
    font-weight: 100;
    line-height: 1.5;
    text-align: center;


}



.about-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 745px;
    margin: auto;
}

.about-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.about-column img {
    max-width: 450px;
    border-radius: 12px;
}

/*
.about-container {

    width: 1100px;

    margin-left: auto;
    margin-right: auto;

}

.about-section {
   
    margin-right: -15px;
    margin-left: -15px;
}
*/
.about-column {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}

@media (max-width: 767px) {
    .about-container {
        width: 100%;
    }

    /* 
    .best-seller-conteiner {}

    .best-sellers-pictures {
        display: flex;
    }

    .best-sellers-pictures {} */

    .about-section {
        display: block;
        display: block;
    }

    .about-column {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
        text-align: center;
        width: 100%;
        display: block !IMPORTANT;
        max-width: 400px;
        margin: auto;
    }
}



a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.insta-container {
    display: flex;
    justify-content: center;
    width: 100%;

    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
    align-items: center;
    position: relative;



}



@media screen and (max-width: 767px) {


    .insta-container {
        overflow: auto;
        padding-bottom: 0;
        max-width: 100%;
        height: 250px;

    }
}

.instagram-slider h1 {
    text-align: center;
}

.instagram-slider {
    margin-top: 10vw;
    margin-bottom: 10vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;



}

.row-insta-images {
    display: flex;




}


.column i {
    top: 100%;
    color: #ffffff;

    padding: 5px;
    background: #009845;
    position: absolute;


}

.column i:hover {




    animation: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    12.5% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(90deg);
    }

    37.5% {
        transform: rotate(135deg);
    }

    50% {
        transform: rotate(180deg);
    }

    62.5% {
        transform: rotate(225deg);
    }

    75% {
        transform: rotate(270deg);
    }

    87.5% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.author-row {
    margin-top: 5px;
    font-size: 0.7em;
}

.column {
    padding: 5px;
    width: 100%;
    height: 110px;


}



.footer {



    /*  border-top: 1px solid #d6d6d6;*/
    width: 100%;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
    position: relative;
    z-index: 100;




}

@media screen and (max-width: 767px) {

    .footer-container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

.made a:hover {
    color: #e62000;

}


.footer-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    padding-left: 40px;
    flex-wrap: wrap;
}


.footer-container .footer-items {

    align-items: center;

}

.BottomFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.top-footer {


    padding-top: 14px;
    padding-bottom: 14px;

    margin-right: 40px;



}


.BottomFooter .under-line {

    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #009845 9.37%, #0a78db 26.04%, #7927c8 42.71%, #e62000 58.33%, #ff7b02 75%, #fdcb05 91.15%);
    padding: 0;
}


.top-footer a {
    font-weight: 500;


}


.newsletter {
    padding-bottom: 32px;

}

button {
    border: none;
    line-height: 20px;
    font-size: 1.5rem;
    background-color: #f9f9f9;
    padding-top: 0;
    font-weight: 600;
    padding-bottom: 0;


}

button:hover {
    color: #009845;
}



.social-icons i {
    /* text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; */
    padding: 1rem 1.5rem;


}

input {
    margin-bottom: 24px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid green;
    color: grey;
    background-color: #f9f9f9;



}


a:hover {
    color: #009845;
}




@media screen and (max-width:767) {
    .nav_container {
        display: flex;
        flex-direction: column;


    }

    .AnnouncementBar p {
        font-size: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .footer-container {
        padding-top: 40px;
        padding-right: 40px;

    }


}

@media screen and (max-width:1024px) {

    .about-container {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
        padding-bottom: 1%;
        padding-right: 40px;

    }

}

@media screen and (max-width: 500px) {


    .insta-container {
        width: 100%;
    }
}


@media screen and (max-width: 767px) {

    .column img {
        width: 75px;
        height: auto;

    }


}

.product_div_conteiner {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 150px;
    position: relative;


}

.product_div_conteiner img {
    width: 50%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.product_div_conteiner .proudact-details {
    width: 100%;
    margin-right: 100px;
}

.proudact-details {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

@media screen and (max-width:767px) {
    .product_div_conteiner .proudact-details {
        width: 80%;
        margin: auto;
    }
}


.size-buttun button {
    margin: 10px;
    margin-top: 0px;
    font-size: 0.9rem;
}



a .add-cart {
    position: absolute;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
    opacity: 1;
    color: #ffffff;
    /* height: 40px; */
    /* font-weight: 600; */


}


#add_to_bag {

    background-color: #009845;
    color: white;
    height: 40px;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;

}

/* #add_to_bag:hover {
    background-color: #009845;
} */

.product_div_conteiner .qu {
    width: 50px;
    margin-bottom: 25px;
}

.size_guide {
    margin-top: 15px;
    font-weight: lighter;
}

.product_div_conteiner p {
    font-weight: lighter;
}

.product_div_conteiner .bread_crubs {
    position: absolute;
    font-size: 10px;
    top: 10%;
    transform: matrix(50%);
    font-weight: 200;
}

.product_div_conteiner .home {
    font-weight: 200;
}

.shopping_cart {
    display: none;
    background-color: white;
    position: absolute;
    border: 2px solid black;

    left: 80%;
    top: 110%;
    overflow-y: scroll;
    overflow-x: scroll;

    max-height: 70vh;
    max-width: 70vh;

    color: #009845;
    padding: 3%;
    margin: auto;
    justify-content: space-around;


}


#shopping .allProducts {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: #009845;
    margin: 10px auto;
    font-size: 12px;



}

#shopping .allProducts .total {


    color: #009845;
    padding: -1%;


}

#shopping {
    color: #009845;

}

#shopping span {
    color: #009845;

}


#shopping h5 {
    font-size: 20px;
}

.shopping_cart.on {
    display: block;

}

.shopping_cart h5 {
    margin: 0px 15px 15px 15px;
    font-weight: 800;
}

.shopping_cart #check_out {
    background-color: black;
    color: white;
    font-size: 12px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;

}

#check_out:hover {
    background-color: #009845;
}

.photo-box .add_to_bag {
    width: 10%;
    font-size: small;
    position: absolute;
    top: 93%;

}

.product_div_conteiner .qty {
    width: 50px;
    margin: 15px;
    margin-top: 0px;
}

@media screen and (max-width: 767px) {
    .product_div_conteiner {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        z-index: 1;
        padding-top: 30%;





    }

    .product_div_conteiner .bread_crubs {
        top: 7%;
        left: 10%;


    }

    .proudact-details .proudact_title {
        position: absolute;
        top: 7.5%;
        left: 10%;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        align-items: center;
        text-align: center;
        transform: translateX(-15%);


    }

    .proudact-details {
        padding-left: 0;
    }
}

.first-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px;

}


/* .Hamburger {
    width: 55px;
    height: 50px;
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 9px;
    background: blueviolet;

    border: 1px solid blueviolet;

    margin-right: 25px;
    display: none;
} */

/*  this is a comment fot us to see if git is working */


.contact-us {
    width: 50%;
    margin-left: 25px;
}

.contact-us .background_image {

    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;
    /* Set up positioning */
    position: fixed;

    top: 0;
    left: 0;


}



/* product page switch images */
.gallery-main-img img {
    display: flex;
    /* //max-width: 500px; */
    margin: auto;
    position: relative;

}


.mainImg {
    max-width: 100%;
    max-height: 100%;

    width: 350px;
    margin: auto;



}

#thumb-img {
    width: 25%;
    padding: 3px;

    display: flex;
    margin: auto;
}

/* .thumb-img .box.active {
    border: 2
} */






/* ----cart page ------ */




/* ------CART PAGE------ */



.products-Container {

    max-width: 650px;
    height: 50%;
    justify-content: space-around;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;

}

.products-Container i {
    font-size: 20px;
    color: black;
    margin-right: 10px;
    margin-left: 10px;

    cursor: pointer;
}

.productHeader {
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
    /* max-width: 650px; */
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #ffff;
    color: #ffff;
    font-size: 25px;



}

.productTitle {

    width: 45%;


    /* // margin-top: 50%; */

}

.price {
    width: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgreen;


}

.total {
    width: 10%;
    border-bottom: 1px solid lightgreen;
    display: flex;
    align-items: center;
    color: #ffff;
    font-weight: 600;
}

.allProducts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    color: #f9f9f9
        /* margin: 0 auto; */
}

.product {
    width: 45%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin: 0 auto;
    /* border-bottom: 1px solid lightgreen; */


    align-items: center;
    /* padding: 10px 0;
    margin: 0 auto; */

}

.allProducts img {
    width: 75px;

}



.qty {
    width: 30%;
    border-bottom: 1px solid lightgreen;
    display: flex;
    align-items: center;
}


.cartTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    padding: 10px 0;
}

.cartTotalTitle {
    width: 30%;

}

.cartTotal {
    width: 10%;
}





/* -------categoty page ------- */

.categotyTitle {
    padding-top: 10%;
    text-align: center;

}


.categotyTitle h1 {
    text-align: center;
    font-weight: 800;
    color: #009845;
    font-size: 50px;
}

/* comments*/
.comments{
    width: 50%;
    border: 4px solid #009845;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    justify-content: space-evenly;
   position: absolute;
   top: 140%;
   left:5%;
   
   
}
.outputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25vw;
    
    overflow-y: auto;
}
.inputs{
    display: flex;
    flex-direction: column;


}
.wirrtenComants{
    list-style: none;
}
.comment_input{
    height: 40px;
    font-family: 'Montserrat', sans-serif;
}
   .name-input{
    font-family: 'Montserrat', sans-serif;   
   }
   #add-comment{
    font-family: 'Montserrat', sans-serif; 
   }

.container {
    width: 100%;
    margin: 30px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}

.comment {
    display: block;
    transition: all 1s;
}

.commentClicked {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}

.container textarea {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
}

button.primaryContained {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
}

button.primaryContained:hover {
    background: #9201A8;
}

.row {
    width: 80%;

}

